- name: Define dependent kernel modules
  ansible.builtin.set_fact:
    longhorn_base_kernel_modules:
      - iscsi_tcp
      - nvme-tcp
      - ext4
      - xfs
      - dm_crypt

- name: Load dependent kernel modules
  loop: "{{ longhorn_base_kernel_modules }}"
  ansible.builtin.modprobe:
    name: "{{ item }}"
    persistent: "present"
    state: "present"
  become: true
