- name: Install open-iscsi
  ansible.builtin.apt:
    name: open-iscsi
    state: present
    update_cache: true
  become: true

- name: Start and enable open-iscsi service
  ansible.builtin.service:
    name: open-iscsi
    state: started
    enabled: true
  become: true
