- name: Define dependencies
  ansible.builtin.set_fact:
    dependencies:
      - bash
      - curl
      - findmnt
      - grep
      - awk
      - blkid
      - lsblk
      - open-iscsi
      - nfs-common
      - cryptsetup
      - dmsetup

- name: Install dependencies
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop: "{{ dependencies }}"
  become: true

- name: Start and enable dependency services
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop: "{{ dependencies }}"
  become: true
