- name: Create ZFS pool for OpenEBS
  ansible.builtin.shell: |
    zpool create -f {{ openebs_storage.zfs.pool.name }} {{ openebs_storage.zfs.pool.device }}
  register: zfs_pool_creation
  changed_when: "'created' in zfs_pool_creation.stdout"
  failed_when: zfs_pool_creation.rc != 0 and 'is part of active pool' not in zfs_pool_creation.stderr
  become: true
