- name: Install parted
  ansible.builtin.package:
    name: parted
    state: present
    update_cache: true
  become: true

- name: Read device information
  community.general.parted:
    device: "{{ mounted_drive_target_device }}"
    unit: GiB
  register: drive_info

- name: Format and Partition
  when: not drive_info.partitions
  block:
    - name: Create partition table
      community.general.parted:
        device: "{{ mounted_drive_target_device }}"
        state: present
        part_end: "{{ mounted_drive_partition_end }}"
        part_start: "{{ mounted_drive_partition_start }}"
        table: gpt
        flags: [ lvm ]
      become: true

    - name: Create ext4 filesystem
      community.general.filesystem:
        fstype: "{{ mounted_drive_filesystem }}"
        dev: "{{ mounted_drive_target_partition }}"
      become: true
