- name: Install parted
  ansible.builtin.package:
    name: parted
    state: present
    update_cache: true
  become: true

- name: Read device information
  community.general.parted:
    device: "{{ mounted_drive_target_device }}"
    unit: GiB
  register: partition_info

- name: Format and Partition
  when: not partition_info.partitions
  block:
    - name: Wipe the device
      ansible.builtin.command: wipefs --all --force "{{ mounted_drive_target_device }}"
      become: true

    - name: Create partition table
      community.general.parted:
        device: "{{ mounted_drive_target_device }}"
        state: present
        part_end: "{{ mounted_drive_partition_end }}"
        part_start: "{{ mounted_drive_partition_start }}"
        lable: gpt
        flags: [ lvm ]
      become: true

    - name: Run partprobe to update the kernel partition table
      ansible.builtin.command: partprobe
      become: true
      changed_when: false

    - name: Read updated device information
      community.general.parted:
        device: "{{ mounted_drive_target_device }}"
        unit: GiB
      register: partition_info

    - name: Create ext4 filesystem
      community.general.filesystem:
        fstype: "{{ mounted_drive_filesystem }}"
        dev: "/dev/{{ partition_info.partitions[0].name }}"
      become: true
