- name: Install parted
  ansible.builtin.package:
    name: parted
    state: present
    update_cache: true
  become: true

- name: Read device information
  community.general.parted:
    device: "{{ mounted_drive_target_device }}"
    unit: GiB
  changed_when: false
  register: partition_info

- name: Format and Partition
  when: not partition_info.partitions
  block:
    - name: Wipe the device
      ansible.builtin.command: wipefs --all --force "{{ mounted_drive_target_device }}"
      become: true

    - name: Create partition table
      community.general.parted:
        device: "{{ mounted_drive_target_device }}"
        state: present
        part_end: "{{ mounted_drive_partition_end }}"
        part_start: "{{ mounted_drive_partition_start }}"
        label: gpt
        number: 1
        flags:
          - lvm
        part_type: primary
      become: true

    - name: Run partprobe to update the kernel partition table
      ansible.builtin.command: partprobe
      become: true
      changed_when: false

- name: Read updated device information
  community.general.parted:
    device: "{{ mounted_drive_target_device }}"
    unit: GiB
  changed_when: false
  register: partition_info

- name: Determine partition device (for devices ending with a number)
  set_fact:
    partition_device: "{{ partition_info.disk.dev }}p{{ partition_info.partitions[0].num }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when: partition_info.disk.dev[-1:].isdigit()

- name: Determine partition device (for devices ending with a letter)
  set_fact:
    partition_device: "{{ partition_info.disk.dev }}{{ partition_info.partitions[0].num }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when: not partition_info.disk.dev[-1:].isdigit()

- name: Create ext4 filesystem
  community.general.filesystem:
    fstype: "{{ mounted_drive_filesystem }}"
    dev: "{{ partition_device }}"
    state: present
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
