- name: Ensure mount point exists
  ansible.builtin.file:
    path: "{{ mounted_drive_mount_point }}"
    state: directory
    mode: "{{ mounted_drive_mount_point_mode }}"
    owner: "{{ mounted_drive_mount_point_owner }}"
    group: "{{ mounted_drive_mount_point_group }}"
    recurse: true
  become: true

- name: Mount the drive and add to fstab
  ansible.posix.mount:
    path: "{{ mounted_drive_mount_point }}"
    src: "{{ partition_info.disk.dev }}{{ partition_info.partitions[0].num }}"
    fstype: "{{ mounted_drive_filesystem }}"
    state: mounted
  become: true
