- name: Ensure mount point exists
  ansible.builtin.file:
    path: "{{ mounted_drive_mount_point }}"
    state: directory
    mode: '0755'
    recurse: true
  become: true

- name: Mount the drive and add to fstab
  ansible.posix.mount:
    path: "{{ mounted_drive_mount_point }}"
    src: "{{ mounted_drive_target_partition }}"
    fstype: "{{ mounted_drive_filesystem }}"
    state: mounted
  become: true
